<!-- link variant (no variant property) -->
<bl text="This is a Link" routerLink="/possible/route"></bl>

<!-- button variants(default: type:button) - variants declared in scss -->
<bl
  (click)="message('text')"
  variant="text"
  type="button"
  text="Text Button"
></bl>
<bl (click)="message('outline')" variant="outline" text="Outline Button"></bl>
<bl
  (click)="message('contained')"
  variant="contained"
  text="Contained Button"
></bl>
<bl
  (click)="message('svg & text')"
  variant="save"
  type="submit"
  text="SVG and Text"
  svgVariant="save"
  svgWidth="25px"
  svgFill="white"
  svgTitle="SVG button with text"
></bl>
<bl
  (click)="message('svg only')"
  variant="delete"
  type="submit"
  svgVariant="delete"
  svgWidth="25px"
  svgFill="red"
  svgTitle="SVG button"
></bl>
